@charset "utf-8";
/* 웹폰트, 공통클래스 셋팅 - core.css */

/* 웹폰트 CDN */
/* Montserrat -> 변경 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* NanumSquare */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*
    1. 영문/제목체
    font-family: 'Montserrat', 'NanumSquare', sans-serif;
    2. 한글/내용체
    font-family: 'NanumSquare', sans-serif;
*/

/* 전역 CSS변수 선언 - 공통속성 셋팅 */
:root{
    /* 색상 */
    --tit-color: #111;
    --cont-color: #555;
    --color-bx: #643AD6;
    --color-point: #FF7360;
    --color-tit: #FFC4BC;
    --color-bg: #fff5ee;
    
    /* 폰트 */
    /* 영문 */
    --font-en: 'Montserrat', 'NanumSquare', sans-serif;
    /* 한글 */
    --font-kr: 'NanumSquare', sans-serif;

}

/* 공사중 표시 */
body * {
    outline: 1px dotted darkcyan;
}

.ibx {
    max-width: 1920px;
    margin: 0 auto;
}