@charset "utf-8";

/* 외부CSS파일 합치기 */
@import url(./reset.css);
@import url(./common.css);
@import url(./fonts.css);

/* 서브 페이지 전체적용 */
body{
    font-family: "neutraltextbook";
}
p{
    margin: 0;
    padding: 0;
}
.font_tit{
    font-family: "dominikth";
}

/* 1번 컨텐츠 */
.cont1{
    /* .ct1_tit 부모자격 */
    position: relative;
}
.bg_ct1{
    width: 100%;
    height: 100vh;

    background: url(../image2/main2.jpg) no-repeat center/cover;
    filter: brightness(40%);
}

.tit_ct1{
    position: absolute;
    /* 박스가운데 정렬 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;

    color: #fff;
}
.tit_ct1 h1{
    text-align: center;
    font-size: 48px;
}
.tit_ct1 p{
    margin-top: 20px;

    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
}
/* 2번 컨텐츠 */
/* 3번 컨텐츠 */
/* 4번 컨텐츠 */
