@charset "utf-8";

/* 외부CSS파일 합치기 */
@import url(./reset.css);
@import url(./common.css);
@import url(./fonts.css);

/* 서브 페이지 기본값 셋팅 */
#cont{
    font-family: "neutraltextbook";
    font-size: 22px;
    color: rgba(29, 29, 29, 0.702);
}
p{
    /* p태그 리셋 */
    margin: 0;
    padding: 0;

    text-align: justify;
    line-height: 1.6;
}
a{
    /* reset.css 셋팅값 변경 */
    width: auto;
    height: auto;
}
#cont img{
    /* 이미지 하단여백 지우기 */
    vertical-align: top;
    object-fit: cover;
}
.font_tit{
    /* 제목폰트 설정 */
    font-family: "dominikth";
}


/** 1번 컨텐츠 **/
.ct1{
    /* .ct1_tit 부모자격 */
    position: relative;
}
.bg_ct1{
    width: 100%;
    height: 100vh;

    background: url(../image/car2_main.jpg) no-repeat center/cover;
    filter: brightness(40%);
}
.tit_ct1{
    position: absolute;
    /* 박스가운데 정렬 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50vw;

    color: #fff;
}
.tit_ct1 h1{
    margin-bottom: 15%;

    text-align: center;
    font-size: 70px;
}


/** 2번 컨텐츠 **/
.ct2{
    display: flex;
}
.imgbx{
    width: 50%;
}
.slide{
    /* li의 부모자격 */
    position: relative;
    width: 100%;
    height: 100vh;

}
.slide li{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: 2s;
}
.slide li img{
    /* 이미지를 부모인 li크기만큼 맞춤 */
    width: 100%;
    height: 100%;

    object-fit: cover;
    /* cover : 비율유지하면서 박스의 크기에 맞게 이미지를 채움
    -> 그만큼 이미지가 잘려서 나옴 */
}
.slide li.on{
    opacity:1;
}
.txtbx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 0 5vw;
    box-sizing: border-box;
    width: 50%;
}
.txtbx img{
    width: 18vw;
    margin: -10px 0 30px;
}


/** 3번 컨텐츠 **/

.ct3{
    display: flex;
  }
  .ct3 h2{
    font-size: 50px;
  }
  .slidebx{
    /* .abtn의 부모 */
    position: relative;
  
    width: 50%;
  }
  .slidebx a{
    /* 미디어쿼리시 보이기 */
    display: none;
  }
  .slide2{
    /* li opacity 적용 */
    position: relative;

    width: 100%;
    height: 100vh;
  }
  .slide2 li{
    opacity: 0;
    /* .slide2 li .txt 부모 */
    position: absolute;
    width: 100%;
    height: 100%;

    transition: 2s;
  }
  .slide2 li img{
    width: 100%;
    height: 100%;
  
    filter: brightness(40%);
  }
  .slide2 li.op1{
    opacity: 1;
  }
  .slide2 li .txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75%;

    color: #fff;
  }
  .sbtn{
    cursor: pointer;
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  }
  .sbtn img{
    width: 80px;
  }
  .right {
    right: 0;
  }
  .sbtn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px 0;
    width: 50%;
    
  }
  .btns h2{
    margin-bottom: 20px;
    color: #000;
  }
  .btns div{
    position: relative;
  
    width: 55%;
    cursor: pointer;
    opacity: 0.6;
    padding: 25px 40px;
    box-sizing: border-box;
  
    border: 1px solid #c2c2c2;
    border-radius: 19px;

    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: color .3s, opacity .3s;
    
  }
  .btns div::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5a4d4d92;
    top: 0;
    left: -100%;
    transition: all .4s ease-in-out;
    z-index: -1;
  }
 
  .btns div:hover::before{
    transform: translateX(100%);
  }
  .btns div img{
    position: absolute;
    height: 90%;
    top: 5px;
    right: 20px;
  }
  .btns div.op1{
      background-color: #5a4d4d92;
      opacity: 1;
      color: #fff;
      font-weight: bold;
      
    }
    .btns div:hover {
      opacity: 1;
    color: #fff;
    font-weight: bold;
    
  }
  .btns div.op1:hover::before{
    display: none;
  }

  
/** 4번 컨텐츠 **/
.ct4 h2{
  text-align: center;
}
.ct4{
  /* #slide, .sbtn, .indic의 부모 */
  position: relative;
  margin: 0 auto;

  width: 913px;
  height: 564px;
  /* 넘치는 이미지 숨기기 */
  overflow: hidden;
}
.slide3{
  /* 이미지들을 가로로 배치 */
  display: flex;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide3 li{
  flex-shrink: 0;
  flex-basis: 100%;
}
.slide3 li img{
  /* 이미지를 부모인 li크기만큼 맞춤 */
  width: 100%;
  height: 100%;

  object-fit: cover;
  /* cover : 비율유지하면서 박스의 크기에 맞게 이미지를 채움
  -> 그만큼 이미지가 잘려서 나옴 */
}

/* 블릿버튼 */
.indic{
  /* 블릿들을 가로로 배치 */
  display: flex;
  position: absolute;
  /* 블릿 가운데 정렬 */
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}
.indic li{
  padding: 0 2px;

  width: 16px;
  height: 16px;

  cursor: pointer;
}
.indic li img{
  /* 블릿겹치기 */
  position: absolute;
}
.indic li img:last-child{
  /* 회색블릿 안보이게 */
  opacity: 0;
}
.indic li.on img:last-child{
  /* li에 on클래스 부여여시 회색블릿 보이기기 */
  opacity: 1;
}