@charset "utf-8";

/* 외부CSS파일 합치기 */
@import url(./reset.css);
@import url(./common.css);
@import url(./fonts.css);

#cont{
    height: 100vw;
    height: calc(100vh-100px);
    background: url(../image2/main2.jpg) no-repeat center/cover;
    /* filter: ; */
}